.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  padding-top: 10rem;
  padding-bottom: 20rem;
}
.exchange-rate{
  color:black;
}
.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 0rem 1rem 1rem 1rem;
}
.error-message{
  color:red;
}
.recurring-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 1rem;
}
.make-recurring-row{
  display:flex;
  justify-content: center;
  margin: 0.5rem;
}
.exchange-rate-display-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rate-buttons{
  margin: 0.5rem;
}

.form-group{
  margin: 0.5rem;
}